@use "./variables.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  background-color: $white;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1280px;
  height: 100%;
  margin-inline: auto;
}

button {
  cursor: pointer;
}
