@use "../../styles/variables.scss" as *;

.partners_box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 13px;

  div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    background-image:
      linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
      url("../../assets/images/bannerPartnes.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 634px;
    height: 350px;
    padding-left: 44.18px;
    border-radius: 20px;

    h2 {
      font-weight: 700;
      font-size: 40px;
      color: $white;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      color: $white;
      width: 199px;
      height: 48px;
      margin-top: 8px;
    }

    button {
      background-color: $yellow;
      border: none;
      padding: 12px 36.1px;
      border-radius: 6px;
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 8%;
      color: $purple;
      margin-bottom: 40px;
      margin-top: 32px;
    }
  }
}
