@use "../../styles/variables.scss" as *;

.products_wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 24px;

  .carousel_viewport {
    overflow: hidden;
    width: 1268px;
  }

  .arrow_left {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 15px;

    img {
      width: 7.47px;
      height: 12.8px;
    }
  }

  .arrow_right {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-left: 15px;

    img {
      width: 7.47px;
      height: 12.8px;
    }
  }

  .products_track {
    display: flex;
    margin-bottom: 10px;
    gap: 18px;
    transition: transform 0.4s ease-in-out;

    .product_card {
      display: flex;
      width: 304px;
      height: 100%;
      border-radius: 10px;
      flex-direction: column;
      align-items: start;
      box-shadow: 0px 3px 19px 0px rgba(0, 0, 0, 0.22);
      padding: 16px 12px;

      .product_all {
        width: 278.1px;
        margin-top: 17px;
      }

      img {
        width: 278px;
        height: 228px;
        object-fit: contain;
        align-self: center;
      }

      h3 {
        font-weight: 300;
        font-size: 15px;
        color: $dark-gray;
      }

      .product_price {
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        .old-price {
          font-weight: 400;
          font-size: 16px;
          color: rgba(128, 128, 128, 1);
          text-decoration: line-through;
        }

        .price {
          font-weight: 700;
          font-size: 20px;
          color: $dark-gray;
          margin-top: 2px;
        }
      }

      span {
        font-weight: 400;
        font-size: 12px;
        color: $dark-gray;
      }

      .free-shipping {
        font-weight: 400;
        font-size: 12px;
        color: $blue;
        margin-top: 7px;
      }

      button {
        background-color: $blue;
        border-radius: 4px;
        width: 275.85px;
        height: 44px;
        color: $white;
        border: none;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 12px;
      }
    }
  }

  .modal_overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }

  .modal_content {
    display: flex;
    background: $white;
    border-radius: 6px;
    width: 769px;
    height: 299.26px;
    max-width: 90%;
    position: relative;
    padding: 56px 56px 50px 56px;
    gap: 87px;

    .modal_close {
      position: absolute;
      top: 1px;
      right: 30px;
      background: transparent;
      color: #707070;
      border: none;
      font-size: 35px;
    }
    .content_1 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;

      img {
        width: 100%;
        width: 247px;
        height: 192.2px;
      }
    }

    .content_2 {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      width: 50%;

      .content_2_buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 22px;

        gap: 12px;
      }

      h2 {
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 5%;
        color: $dark-gray;
      }

      .content_2_price {
        font-weight: 600;
        font-size: 20px;
        color: $dark-gray;
      }

      .content_2_description {
        font-weight: 500;
        font-size: 10px;
        font-family: "Work Sans", sans-serif;
        color: $light-gray;
        margin-top: 25px;
      }

      span {
        font-weight: 600;
        font-size: 11px;
        font-family: "Work Sans", sans-serif;
        color: $blue;
        letter-spacing: 5%;
        margin-top: 5px;
      }

      .content_2_quantity {
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: $purple;
      }
    }
  }

  .quantity_control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 20px 0;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    width: 110px;

    .button_minus {
      width: 36px;
      height: 36px;
      font-size: 18px;
      background-color: transparent;
      border: none;
      font-size: 20.31px;
      color: $light-gray;
    }

    .button_plus {
      width: 36px;
      height: 36px;
      font-size: 18px;
      background-color: transparent;
      border: none;
      color: $purple;
    }
  }

  .modal_buy_button {
    width: 100%;
    padding: 7.5px 58px;
    background: $yellow;
    color: $purple;
    border-radius: 6px;
    font-weight: 700;
    font-size: 14px;
    border: none;
    text-transform: uppercase;
  }
}
